---
import BlogPostPreview from './BlogPostPreview.astro'
const { posts } = Astro.props
---

<div class="posts-list">
  {
    posts.map((post) => (
      <BlogPostPreview
        title={post.data.title}
        description={post.data.description}
        heroImage={post.data.heroImage}
        category={post.data.category}
        categoryColor={post.data.categoryColor}
        slug={post.slug}
      />
    ))
  }
</div>
<style>
  .posts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    .posts-list {
      display: flex;
      flex-direction: column;
    }
  }

  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-device-width: 1025px) {
  }
</style>
