---
import BlogPostPreview from "./BlogPostPreview.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.updatedDate.valueOf() - b.data.updatedDate.valueOf()
);
---

<div class="posts-list">
  {
    posts
      .slice(0, 4)
      .map((post) => (
        <BlogPostPreview
          title={post.data.title}
          description={post.data.description}
          heroImage={post.data.heroImage}
          category={post.data.category}
          categoryColor={post.data.categoryColor}
          slug={post.slug}
        />
      ))
  }
</div>
<style>
  .posts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .posts-list {
      display: flex;
      flex-direction: column;
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  }

  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1025px) {
  }
</style>
