---
import Category from "../components/Category.astro";

export interface ProjectTile {
  name: string;
  excerpt: string;
  logoPath: string;
  category: string;
  categoryColor: string;
}

const { name, excerpt, logoPath, category, categoryColor, slug } = Astro.props;
---

<article class="project-container">
  <a href={`/projects/${slug}/`}
    ><div class="first-row">
      <img src={logoPath} alt="logo" />
      <Category name={category} color={categoryColor} />
    </div>
    <div class="preview-info">
      <h3>{name}</h3>
      <p>{excerpt}</p>
    </div></a
  >
</article>
<style is:global>
  .project-container {
    display: grid;
    border: solid 1px #1d2656;
  }
  .project-container:hover {
    background-color: #637ffd;
  }
  .project-container:first-child {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  a > .first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    right: 0;
    padding: 24px 0px 0px 24px;
  }
  .first-row div:last-child {
    justify-self: end;
  }
  a > .preview-info {
    padding: 64px 24px 24px 24px;
  }
  a > .preview-info > *:last-child {
    margin-top: 8px;
  }
</style>
