---
import ProjectPreview from "../components/ProjectPreview.astro";

const projects = [
{ name : "HéOTi Energies", excerpt:"Création d'une landing page pour capter un flux régulier de prospect souhaitant faire installer des panneaux solaires", logoPath:"/projects/logos/heoti-logo.svg", category:"Développement web", categoryColor:"#44CB8A"},
{ name : "MySkiValet", excerpt:"Conception d'une application permettant de révolutionner l'expérience de location de ski en France", logoPath:"/logo/logo_sombre.svg", category:"SEO", categoryColor:"#FDD263"},
{ name : "test", excerpt:"Lacus nunc viverra integer nisl nibh sit volutpat donec nisl neque blandit lectus pharetra.", logoPath:"/logo/logo_sombre.svg", category:"SEO", categoryColor:"#FDD263"},
{ name : "test", excerpt:"Lacus nunc viverra integer nisl nibh sit volutpat donec nisl neque blandit lectus pharetra.", logoPath:"/logo/logo_sombre.svg", category:"SEO", categoryColor:"#FDD263"},
{ name : "test", excerpt:"Lacus nunc viverra integer nisl nibh sit volutpat donec nisl neque blandit lectus pharetra.", logoPath:"/logo/logo_sombre.svg", category:"SEO", categoryColor:"#FDD263"}
]

---
<div class="project-list">
    {projects.map((project) => (
        <ProjectPreview name={project.name} excerpt={project.excerpt} logoPath={project.logoPath} category={project.category} categoryColor={project.categoryColor}></ProjectPreview>
      ))}
</div>
<style>
    .project-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 32px;
    }
</style>