---
import ProjectPreview from "../components/ProjectPreview.astro";
import { Octokit } from "octokit";

const octokit = new Octokit({
  auth: "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",
});

const raw_data = await octokit.request("GET /users/{username}/repos", {
  username: "NicolasTOISON",
  headers: {
    "X-GitHub-Api-Version": "2022-11-28",
  },
  sort: "updated",
  direction: 'desc'
});

const projects = raw_data.data.map((data) => {
  const project_array: Object = [];
  project_array["title"] = data.name;
  project_array["description"] = data.description;
  project_array["category"] = data.topics[0];
  project_array["slug"] = data.html_url;
  return project_array;
});
---

<div class="project-list">
  {
    projects
      .slice(0, 5)
      .map((project) => (
        <ProjectPreview
          name={project.title}
          excerpt={project.description}
          category={project.category}
          slug={project.slug}
        />
      ))
  }
</div>
<style>
  .project-list {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
</style>
